{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.comment) }}
    {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.comment) }}
</div>

<div class="form-group">
    {{ form_label(form.rate) }}
    {{ form_widget(form.rate, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.rate) }}
</div>
<div class="form-group">
    {{ form_label(form.episode) }}
    {{ form_widget(form.episode, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.episode) }}
</div>

<button type="submit" class="btn btn-primary">Create</button>

{{ form_end(form) }}
{% endblock %}
