{% extends 'base.html.twig' %}

{% block body %}
	{% for category, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ category }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	{{ form_start(form) }}
	{{ form_row(form.name) }}
	<button class="btn">Save</button>
	{{ form_end(form) }}


{% endblock %}
