{% extends "base.html.twig" %}

{% block body %}


	<div class="details">
		<div class="program-image">
			<img src="{{ asset('build/images/e1.jpg') }}" alt="">
		</div>

		<!-- title of the movie -->
		<h2 class="m-auto show-title">{{seasons.number}}</h2>

		<!-- details of the movie -->
		<div class="row row-show justify-content-around">
			<div class="col-5 details-description ">
				<h2 class="text-center">Histoire</h2>
				<p>{{ seasons.description }}
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eum possimus nisi quae quasi recusandae
				</p>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
			</div>
			<div class="col-4 details-seasons ">
				<h3>Commentaires</h3>
				<ul class="mb-5">
					{% for comment in episode.comments %}
						<li>
							{{ comment.comment }}
						</li>
					{% endfor %}
					
				</ul>
			
				{% if app.user %}
				 {{ form_start(form) }}
       			 {{ form_widget(form) }}
        		<button class="btn">Save</button>
   				 {{ form_end(form) }}

				{% endif %}
			</div>
		</div>
	</div>


{% endblock %}
