{% extends 'base.html.twig' %} {% block title %}WILD SERIES {% endblock %} 
{% block body %}
<header>

  <video autoplay muted loop id="bg-video">
    <source
      src="{{ asset('build/images/4761738-uhd_4096_2160_25fps.mp4') }}"
      type="video/mp4"
    />
    Your browser does not support HTML5 video.
  </video>
  <div class="header-title">
    <h1>THE LAST ROUND</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit veniam
      laudantium dolores. Libero, facere possimus exercitationem consequuntur ea
      quasi. Nostrum? 
    </p>
  </div>
</header>
<section class="most-watched" style="margin: 0">
  <div class="container text-center">
    <div class="row program-cards">
      {% for program in programs %}
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <a href="{{ path('program_show', { slug: program.slug }) }}">
            <img
              src="{{ asset('uploads/images/posters/' ~ program.poster) }}"
              class="card-img-top image-height"
              alt="{{ program.title }}"
            />
            <div class="card-body">
              <h2 class="text-black card-title">
                {{ program.title }}
              </h2>
              <p class="card-text text-black description">
                {{ program.synopsis }}
              </p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </a>
        </div>
      </div>
      {% if loop.index == 8 %}
      <div class="col john-wick">
        <img src="{{ asset('build/images/johnwick.png') }}" alt="" />
        <h3 class="johnwick-title">JOHN WICK</h3>
        <p class="johnwick-text">
          John Wick est un assassin légendaire, redouté dans le monde du crime. Après avoir perdu sa femme, il se retrouve plongé dans une spirale de vengeance lorsqu'un groupe de criminels s'en prend à ce qui lui reste de plus cher. Chaque coup porté par John est un rappel de sa maîtrise inégalée des armes à feu et de son implacable détermination. Ce n'est pas juste une quête de vengeance, c'est une déclaration : ne jamais sous-estimer un homme sans rien à perdre. 
        </p>
      </div>
      {% endif %} {% if loop.index == 19%}
      <div class="col">
        <a href="">
          <video autoplay muted loop id="bg-video">
            <source
              src="{{ asset('build/images/village.mp4') }}"
              type="video/mp4"
            />
            Your browser does not support HTML5 video.
          </video>
          <h3 class="village-title">LE PETIT VILLAGE</h3>
          <p class="village-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat et
            tenetur adipisci distinctio totam impedit, atque ducimus eaque earum
            quia.
          </p>
        </a>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
  {{ knp_pagination_render(programs) }}
</section>

<br />
<br />
<br />

{% endblock %}
