{% extends "base.html.twig" %}
{% block title %}
	{{program.title}}
{% endblock %}
{% block body %}
	<div class="details">
		<div class="program-image">
			<img
              src="{{ asset('uploads/images/posters/' ~ program.poster) }}"
              class="card-img-top image-height"
              alt="{{ program.title }}"
            />
		</div>
		{% if is_granted("ROLE_ADMIN") %}
			  <a href="{{ path('program_edit', { 'id': program.id} ) }}" class="p-3 text-center  alert alert-danger">Éditer</a>
		{% endif %}
		<!-- title of the movie -->
		<h2 class="m-auto show-title">{{program.title}}</h2>
		<h3 class="m-auto show-category">Acteurs</h3>
		{% for actor in program.actors %}
			<li>{{ actor.firstname }}
				{{ actor.lastname }}</li>
		{% else %}
			<li>Aucun acteur pour cette série
			</li>
		{% endfor %}
		
		<!-- details of the movie -->
		<div class="row row-show justify-content-around">
			<div class="col-5 details-description ">
				<h3 class="text-center">Histoire</h2>
				<p>{{ program.synopsis }}
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eum possimus nisi quae quasi recusandae rerum, provident aut quisquam numquam esse et incidunt, ad quidem, amet ipsa ea asperiores! Maiores?
				</p>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
			</div>
			<div class="col-4 details-seasons ">
				<h3>Seasons</h3>
				<ul class="d-grid">
					{% for season in program.seasons %}
						<li>
							<a href="{{path('program_season_show', {'season':season.id , 'program' : program.slug})}}">Season
								{{ season.number }}</a>
						</li>
					{% endfor %}


				</ul>
			</div>
		</div>
	</div>


{% endblock %}
