<nav>
	<div>
		<a href="{{path('program_index')}}">
			<h1>Wild series</h1>
		</a>
	</div>

	<div>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button>Search</button>
		{{ form_end(form) }}
	</div>

	<div>
		<ul class="navbar-list">
			<li><a href="{{path('program_index')}}">Home</a></li>
			<li><a href="{{path('category_index')}}">Categories</a></li>
			<li>
			{% if app.user %}
				<a href="{{ path('app_logout') }}"> Se déconnecter</a>
				{% else %}
				<a href="{{ path('app_login') }}"> Se connecter</a>
			{% endif %}
			
			</li>
		</ul>
	</div> 
</nav>
